
/* ========================== VARIABLES ======================== */
:root {
    --labs-sys-color-background: #111;
    --labs-sys-color-on-background: white;
    --base-speed: 6s;
    --labs-sys-color-grid: #00b7ff;
    --labs-sys-color-grid-glow: #ff007a;
    --labs-sys-color-sun-1: #00b7ff;
    --labs-sys-color-sun-2: #ff007a;
    --labs-sys-color-sun-glow: #b300ff;
    --labs-sys-color-star: #ff007a;
    --color-palm-trunk: #333;
    --color-palm-leaf: #333;
    --color-palm-leaf-2: #b300ff;
    --labs-sys-color-triangle: #00b7ff;
}

/* ============ GLOBALES ============== */
body {
    overflow-y: auto;
    min-height: 100vh;
    background-color: var(--labs-sys-color-background);
    color: var(--labs-sys-color-on-background);
}

section, header {
    min-height: 100vh;
    width: 100%;
}

header#home, section, main {
    overflow-x: hidden;
}

.nav-link {
    transition: color 0.3s ease;
}

li.active {
    background-color: #001f74;
}

li.active .nav-link {
    color: #c5d5ff;
    pointer-events: none;
    cursor: default; 
}

li {
    padding: .4rem 15%;
    transition: background-color 0.3s ease;
    border-radius: .5rem ;
}

@media (min-width: 768px) {
    li {
        padding: .5rem 1rem;
    }
}

@media (min-width: 960px) {
    li {
        padding: .5rem 2.6rem;
    }
}
