
/* ========================== VARIABLES ======================== */
:root {
    --black-background: #1a1a1a;
    --white-color: rgb(240, 240, 240);
    --base-speed: 6s;
    --color-floor: #00b7ff;
    --color-floor-glow: #ff007a;
    --color-sun-1: #00b7ff;
    --color-sun-2: #ff007a;
    --color-sun-glow: #b300ff;
    --color-stars: #b3b9f8;
    --color-palm: #333;
    --color-startail-glow: #00b7ff;
}

/* ============ GLOBALES ============== */
body {
    overflow-y: auto;
    min-height: 100vh;
    background-color: var(--black-background);
    color: var(--white-color);
}

section {
    min-height: 100vh;
}

section, main {
    overflow-x: hidden;
}

.nav-link {
    transition: color 0.3s ease;
}

li.active {
    background-color: #001f74;
}

li.active .nav-link {
    color: #c5d5ff;
    pointer-events: none;
    cursor: default; 
}

li {
    padding: .4rem 15%;
    transition: background-color 0.3s ease;
    border-radius: .5rem ;
}

@media (min-width: 768px) {
    li {
        padding: .5rem 1rem;
    }
}

@media (min-width: 960px) {
    li {
        padding: .5rem 2.6rem;
    }
}

.arrow {
    animation: arrow-down 1s linear infinite;
}

@keyframes arrow-down {
    0%   { transform: translateY(0) }
    50%  { transform: translateY(0.25rem) }
    100% { transform: translateY(0) }
}
