
[data-lenis-scroll] {
  opacity: 0;
  transform: translateX(100%); /* Entra desde la derecha */
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

[data-lenis-scroll].is-inview {
  opacity: 1;
  transform: translateX(0); /* Posición inicial */
}

[data-lenis-scroll].is-inview .about-me-content {
  transform: translateX(calc(100% * var(--scroll-progress, 0))); /* Desplaza a la derecha */
  transition: transform 0.8s ease-out;
}

[data-lenis-scroll][data-lenis-scroll-hidden] {
  opacity: 0;
  transform: translateX(100%); /* Desaparece a la derecha */
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}